#menu {
	list-style: none;
	margin-top:45px;
}

#menu li {
	display:inline;
	font: italic normal 24px Georgia, serif;
	margin-left:25px;
}

#menu li a {
	color:#666;
	text-decoration:none;
}

#menu li a:hover {
	color:#000;
}

#outer{
	margin-top:30px;
}

a {
	color:#09f;
}

#posts .post {
	list-style:none;
	margin: 0 0 3em 0;
	clear:both;
}

ol {
	list-style:none;
}

.meta {
	text-align:right;
}

.time {
    margin:0px;
    padding: 1px 0 5px 0;
    line-height:0.8em;
}

.time a {
    color:#000;
    /*border-top:5px solid #bbb;*/
    text-decoration:none;
}
.time a:hover {
    color:#09f;
    border-color:#09f;
}

.date {
    margin:0px;
    padding-top: 1px;
    /*border-top: 1px solid #000;*/
}

.date h1 {
    margin:0;
}

.date a {
    color:#000;
    /*border-top:5px solid #000;*/
    text-decoration:none;
}

blockquote {
    padding-left: 20px;
}

.date a:hover {
    color:#09f;
    border-color:#09f;
}

.reblog, .noteCount {
    font-size:0.8em;
}

.quote {
    font-family: Georgia, serif;
    font-style: italic;
}

.video {
    margin-bottom:20px;
}

.forward {
   text-align:right; 
}

#colophon, .page {
    text-align:center;
}

#colophon {
    margin-top:50px;
    font-family: Georgia, serif;
    font-style:italic;
    margin-bottom: 50px;
}

#colophon span {
    border-top: 1px solid #666;
    padding-top: 30px;
}

#colophon span a {
    text-decoration:none;
}

.source {
    padding-left: 20px;
}
