#menu {
	list-style: none;
	margin-top:45px;
}

#menu li {
	display:inline;
	font: italic normal 24px Georgia, serif;
	margin-left:25px;
}

#menu li a {
	color:#666;
	text-decoration:none;
}

#menu li a:hover {
	color:#000;
}

#outer{
	margin-top:30px;
}

a {
	color:#09f;
}

#posts .post {
	list-style:none;
	margin: 0 0 3em 0;
	clear:both;
}

ol {
	list-style:none;
}

.meta {
	text-align:right;
}

.time {
    margin:0px;
    padding: 1px 0 5px 0;
    line-height:0.8em;
}

.time a {
    color:#bbb;
    /*border-top:5px solid #bbb;*/
    text-decoration:none;
}
.time a:hover {
    color:#09f;
    border-color:#09f;
}

.date {
    margin:0px;
    padding-top: 1px;
    border-top: 1px solid #bbb;
}

.date p {
    margin:0;
}

.date a {
    color:#bbb;
    border-top:5px solid #bbb;
    text-decoration:none;
}

.date a:hover {
    color:#09f;
    border-color:#09f;
}
